html,
body {
  background-repeat: repeat;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bar {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.27);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.courses {
  display: flex;
  justify-content: flex-end;
}

.cardImage {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.welcome {
  background: rgba(5, 0, 59, 0.439);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.599);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 0px solid rgba(255, 255, 255, 0.103);
  display: flex;
}

.user {
  line-height: 100px;
}

.gradient {
  background-image: linear-gradient(45deg, #fea31c, #0e8eff);
  background-clip: text;
  color: transparent;
}

.userWelcome {
  font-weight: bold;
}

.hackImage {
  border-radius: 5px;
  opacity: 0.70;
}

.hackathon_background {
  background-color: black;
}

.hackDesc {
  inline-size: 400px;
  overflow-wrap: break-word;
}

.hackButton{
  display: flex;
}